.gioithieu_banner {
	background-color: transparent;
	background-image: linear-gradient(-90deg, #721326 0%, #d82448 100%);
	color: white;
	text-align: center;
	padding: 64px 0px;

	@include media-breakpoint-up(lg) {
		padding: 100px 0px;
	}

	.row {
		justify-content: center;
	}

	.gioithieu_banner__title {
		font-size: 28px;
		font-weight: bold;
		margin-bottom: 21px;
	}

	.gioithieu_banner__desc {
		margin-bottom: 0px;
	}
}

//
.file_pdf {
	background-color: #f4f5f7;
	padding: 36px 0px 36px;

	@include media-breakpoint-up(lg) {
		padding: 64px 0px 56px;
	}

	.file_pdf_title {
		font-weight: 700;
		font-size: 16px;
		color: #7a7a7a;
		margin-bottom: 24px;

		@include media-breakpoint-up(lg) {
			margin-bottom: 42px;
		}
	}

	.file_pdf_inner {
		width: 100%;
		max-width: 100%;
	}
}

//
.thuong_hieu {
	background-color: #f4f5f7;
	padding: 36px 0px 36px;

	@include media-breakpoint-up(lg) {
		padding: 50px 0px 66px;
	}

	.thuong_hieu_subtitle {
		margin-bottom: 28px;

		@include media-breakpoint-up(lg) {
			margin-bottom: 42px;
		}
	}

	.thuong_hieu_title {
		margin-bottom: 28px;

		@include media-breakpoint-up(lg) {
			margin-bottom: 50px;
		}
	}

	.thuong_hieu_content {
		margin: 0px 0px 0px 10px;
		padding: 0px 0px 0px 10px;
		border-style: solid;
		border-width: 0px 0px 0px 1px;
		border-color: #c7c4c4;

		@include media-breakpoint-up(lg) {
			margin: 0px 0px 0px 30px;
			padding: 0px 0px 0px 20px;
		}
	}
}

//
.gia_tri {
	background-color: #f4f5f7;

	.gia_tri_container {
		padding: 36px 0px 36px;

		@include media-breakpoint-up(lg) {
			padding: 50px 0px 60px;
		}
	}

	.gia_tri_subtitle {
		margin-bottom: 28px;

		@include media-breakpoint-up(lg) {
			margin-bottom: 42px;
		}
	}

	.gia_tri_title {
		margin-bottom: 28px;

		@include media-breakpoint-up(lg) {
			margin-bottom: 42px;
		}
	}

	.gia_tri_desc {
		margin-bottom: 20px;

		@include media-breakpoint-up(lg) {
			margin-bottom: 26px;
		}
	}

	.gia_tri_row {
		justify-content: center;
		row-gap: 20px;

		@include media-breakpoint-up(lg) {
			margin-left: -10px;
			margin-right: -10px;
			row-gap: 20px;
		}
	}

	.gia_tri_col {
		@include media-breakpoint-up(lg) {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	.gia_tri_content_item {
		background: #fff;
		border-radius: 10px;
		padding: 28px 24px 24px;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;
		// margin-bottom: 20px;

		@include media-breakpoint-up(lg) {
			padding: 34px 30px 30px;
			gap: 34px;
		}

		.gia_tri_content_item_img {
			width: 34px;
			height: 34px;

			@include media-breakpoint-up(lg) {
				width: 40px;
				height: 40px;
			}
		}

		.gia_tri_content_item_title {
			font-size: 20px;
			font-weight: bold;
			color: #000;
		}

		.gia_tri_content_item_desc {
			font-size: 14px;
			color: #333;
			line-height: 1.6;
			margin-bottom: 0px;
		}
	}
}

//
.doi_ngu {
	padding: 36px 0px 36px;

	@include media-breakpoint-up(lg) {
		padding: 50px 0px 50px;
	}

	.doi_ngu_subtitle {
		margin-bottom: 42px;
	}

	.doi_ngu_title {
		margin-bottom: 100px;
	}

	.doi_ngu_row {
		row-gap: 60px;

		@include media-breakpoint-up(lg) {
			margin-left: -30px;
			margin-right: -30px;
		}
	}

	.doi_ngu_col {
		@include media-breakpoint-up(lg) {
			padding-right: 30px;
			padding-left: 30px;
		}
	}

	.team-member {
		text-align: center;
		margin: auto;

		.team-member_wrapper {
			position: relative;
		}

		&__image-wrapper {
			position: relative;
			width: 100%;
			height: 0px;
			padding-bottom: 100%;
		}

		&__circle {
			position: absolute;
			border-radius: 50%;
			width: 100%;
			height: 100%;
		}

		&__circle--light {
			background: #d89aa0; // Vòng tròn đỏ nhạt
		}

		&__circle--dark {
			background: #8e2c3f; // Vòng tròn đỏ đậm
			width: calc(100% - 32px);
			height: calc(100% - 32px);
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.team_memeber__image {
			position: absolute;
			bottom: 36px;
			left: 50%;
			transform: translateX(-50%); // Đẩy ảnh lên trên 36px
			width: auto;
			height: calc(100% + 38px - 36px);
			object-fit: cover;
		}

		&__content {
			position: relative;
			margin-top: -43px;
			z-index: 10;
		}

		&__name {
			background: white;
			border: 3px solid #8e2c3f;
			border-radius: 30px;
			padding: 14px 60px;
			font-weight: bold;
			color: #8e2c3f;
			display: block;
			font-size: 16px;
			z-index: 2; // Đảm bảo không bị che khuất
			margin-bottom: 13px;
		}

		&__position {
			font-size: 14px;
			color: #333;
		}
	}
}

//
.van_hoa {
	background-color: #f4f5f7;

	.van_hoa_container {
		padding: 36px 0px 36px;

		@include media-breakpoint-up(lg) {
			padding: 50px 0px 60px;
		}
	}

	.van_hoa_subtitle {
		margin-bottom: 28px;

		@include media-breakpoint-up(lg) {
			margin-bottom: 42px;
		}
	}

	.van_hoa_title {
		margin-bottom: 28px;

		@include media-breakpoint-up(lg) {
			margin-bottom: 42px;
		}
	}

	.van_hoa_desc {
		margin-bottom: 20px;

		@include media-breakpoint-up(lg) {
			margin-bottom: 26px;
		}
	}

	.van_hoa_row {
		margin-right: -10px;
		margin-left: -10px;
		justify-content: center;
		//
		margin-top: -20px;
	}

	.van_hoa_col {
		padding-right: 10px;
		padding-left: 10px;
		margin-top: 20px;
	}

	.van_hoa_content_item {
		background: #fff;
		border-radius: 10px;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 34px;
		//
		padding: 28px 24px 24px;

		@include media-breakpoint-up(lg) {
			padding: 34px 30px 30px;
			gap: 34px;
		}

		.van_hoa_content_item_img {
			width: 34px;
			height: 34px;

			@include media-breakpoint-up(lg) {
				width: 40px;
				height: 40px;
			}
		}

		.van_hoa_content_item_title {
			font-size: 20px;
			font-weight: bold;
			color: #000;
		}

		.van_hoa_content_item_desc {
			font-size: 14px;
			color: #333;
			line-height: 1.6;
			margin-bottom: 0px;
		}
	}
}

//
.thanh_tuu {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	.thanh_tuu_container {
		padding: 36px 0px;

		@include media-breakpoint-up(lg) {
			padding: 50px 0px;
		}
	}

	.thanh_tuu_row {
		justify-content: center;
		row-gap: 36px;

		@include media-breakpoint-up(lg) {
			margin-left: -25px;
			margin-right: -25px;
			row-gap: 50px;
		}
	}

	.thanh_tuu_col {
		@include media-breakpoint-up(lg) {
			padding-left: 25px;
			padding-right: 25px;
		}
	}

	.thanh_tuu_title {
		// font-family: "Roboto", Sans-serif;
		font-size: 36px;
		font-weight: 700;
		color: #ffffff;
		text-align: center;
		margin-bottom: 36px;

		@include media-breakpoint-up(lg) {
			margin-bottom: 62px;
			font-size: 51px;
		}
	}

	.thanh_tuu_content_item {
		text-align: center;
	}

	.thanh_tuu_content_item_title {
		// font-family: "Roboto", Sans-serif;
		font-size: 36px;
		font-weight: 700;
		color: #ffffff;
		margin-bottom: 18px;

		@include media-breakpoint-up(lg) {
			font-size: 48px;
		}
	}

	.thanh_tuu_content_item_desc {
		font-family: "Roboto", Sans-serif;
		font-size: 16px;
		font-weight: 400;
		color: #ffffff;
	}
}

//
.kien_thuc {
	//
	padding: 36px 0px 36px;

	@include media-breakpoint-up(lg) {
		padding: 63px 0px 53px;
	}

	// Tiêu đề
	.kien_thuc_title {
		font-weight: 700;
		font-size: 36px;

		@include media-breakpoint-up(lg) {
			font-size: 51px;
		}
	}

	// Active Event
	.nav-tabs .nav-link.active,
	.nav-tabs .nav-item.show .nav-link {
		color: $primary;
		font-weight: 700;
		background-color: #fff;
		// tách riêng

		border-top-color: #d5d8dc !important;
		border-left-color: #d5d8dc !important;
		border-left-color: #d5d8dc !important;
		border-right-color: #d5d8dc !important;
		border-bottom-color: #fff;
	}

	//
	.nav-tabs .nav-link:not(.active):hover {
		// border-color: $white;
		// background-color: $primary;
		// border-color: #d5d8dc #d5d8dc #fff !important;
		// border-bottom-color: #d5d8dc !important;
		// border-bottom-width: 0.8px;
		color: $primary;
		border-color: $white $white #d5d8dc;
	}

	//
	.nav-tabs .nav-link:focus {
		// background-color: #8e2c3f;
	}

	//
	.nav-tabs .nav-link {
		padding: 8px 16px;
		color: #333333;
		font-weight: 700;
		font-style: italic;
		font-size: 16px;

		@include media-breakpoint-up(lg) {
			padding: 20px 25px;
		}

		// border: 1px solid transparent;
		// border-top-left-radius: 0.25rem;
		// border-top-right-radius: 0.25rem;
	}

	//
	.tab-content {
		padding: 20px 20px 27px;
		border-width: 0px 0.8px 0.8px 0.8px;
		border-style: solid;
		border-color: #d5d8dc;
	}

	//
	.kien_thuc_button {
		display: inline-flex;
		gap: 24px;
		flex-direction: column;

		@include media-breakpoint-up(lg) {
			flex-direction: row;
			gap: 40px;
		}

		.button {
			padding: 8px 16px;
			color: #f4f5f7;
			text-decoration: none !important;
			// background-color: #721326;
			border-radius: 5px;

			@include media-breakpoint-up(lg) {
				padding: 14px 32px;
			}
		}

		.button_1 {
			background-color: #721326;
		}

		.button_2 {
			background-color: rgba(144, 1, 1, 0.8);
		}
	}
}