.form_search {
    width: 120px;
    flex-shrink: 0;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
        order: 1;
    }

    form {
        position: relative;
        width: 100%;
    }

    input {
        height: 40px;
        width: 100%;
        border: none !important;
        outline: none !important;
        border-radius: 4px;
        padding: 12px;
        padding-left: 32px;
        background-color: $white;
        color: $primary;
        font-size: 12px;
        width: 100%;
        font-style: italic;

        @include media-breakpoint-down(md) {
            height: 32px;
            padding: 4px;
            padding-left: 32px;
        }

        &::placeholder {
            font-style: italic;
            font-size: 12px;
            color: $primary;

            @include media-breakpoint-down(md) {
                font-size: 10px;
            }
        }
    }

    button {
        display: inline-flex;
        position: absolute;
        width: 16px;
        height: 16px;
        top: 50%;
        left: 8px;
        transform: translateY(-50%);
        padding: 0px;
        margin: 0px;
        outline: none !important;
        background: none !important;
        border: none !important;

        @include media-breakpoint-down(md) {
            right: 4px;
        }

        svg {
            width: 100%;
        }
    }
}

.header_line {
    width: 1px;
    background-color: #c0c0c0;
    height: 70%;

    @include media-breakpoint-down(md) {
        order: 2;
    }
}

.sectionBanner__item {
    max-height: 100vh !important;
    overflow: hidden;

    img {
        width: 100% !important;
        height: auto;
        object-fit: cover;
    }
}

.sectionBanner__slider {
    &-slide {
        user-select: text;
    }

    &-track {
        margin-left: unset;
    }
}


.sectionBanner__slider {
    margin-bottom: 0px !important;

    .slick {
        &-arrow {
            border: 1px solid $primary;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            overflow: hidden;
            transition: all 0.3s;
            background-color: $white !important;
            z-index: 10;

            @include media-breakpoint-up(lg) {
                width: 36px;
                height: 36px;
            }

            &::before {
                content: "" !important;
                opacity: 1 !important;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 16px;
                height: 16px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &:hover {
                transition: all 0.3s;
                background-color: rgba($primary, 0.2) !important;
            }

            &[aria-disabled="true"] {
                border: 1px solid $primary;

                &:hover {
                    background-color: unset !important;
                    cursor: auto;
                }
            }
        }

        &-prev {
            left: 40px;

            @include media-breakpoint-down(md) {
                left: 16px;
            }

            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.57 5.93018L3.5 12.0002L9.57 18.0702' stroke='%231A3865' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20.4999 12H3.66992' stroke='%231A3865' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
        }

        &-next {
            right: 40px;

            @include media-breakpoint-down(md) {
                right: 16px;
            }

            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.4302 18.0698L20.5002 11.9998L14.4302 5.92982' stroke='%231A3865' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.5 12L20.33 12' stroke='%231A3865' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
        }
    }


    // style dots
    $w_dots: 15px;
    $h_dots: 3px;

    .slick-dots {
        bottom: 32px !important;

        @include media-breakpoint-down(md) {
            bottom: 16px !important;
        }

        li {
            width: $w_dots;
            display: inline-flex;
            align-items: flex-end;

            button {
                background-color: #fff;
                width: 100%;
                height: $h_dots;
                padding: 0px;
                margin: 0px;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);

                &::before {
                    display: none;
                }
            }

            &.slick-active {
                button {
                    background-color: $primary;
                    height: 6px;
                }
            }
        }
    }
}

.header__toggle {
    @include media-breakpoint-down(md) {
        order: 3;
    }
}

.videoBlock {
    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.2);
        z-index: 2;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%) scale(1);
        object-fit: cover;
        transition: all 0.3s;
        z-index: 1;
    }

    &__inner {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: auto;
        height: 0;
        padding-bottom: 56.25%;
        z-index: 1;
        overflow: hidden;

        &:hover {
            img {
                transform: translate(-50%, -50%) scale(1.1);
            }
        }
    }

    &__playAction {
        position: relative;
        z-index: 10;
    }
}

.modalVideo {
    &__close {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -16px;
        right: -8px;
        z-index: 9;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: #fff !important;
        opacity: 1 !important;
        outline: none !important;
    }
}

.sec_title {
    color: $primary !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    margin-bottom: 32px !important;
}

.row_16 {
    row-gap: 16px;
}

.row_24 {
    row-gap: 24px;
}

.row_32 {
    row-gap: 32px;
}

.single_service_title {
    font-size: 16px;
    margin: 0px;
    color: $body !important;
    font-weight: 500 !important;
}

.single_service_img {
    border-radius: 10px;
}

.single_service {
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    overflow: hidden;
}

.single_service_content {
    padding: 16px;
}

.home_news_title {
    font-size: 24px !important;
    color: $primary !important;
}

.single_post_cats {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.single_post_cats_item {
    padding: 4px 8px;
    font-size: 14px;
    background-color: $success;
    color: #fff !important;
    border-radius: 4px;
}

.single_post_content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 16px;
}

.single_post_title {
    font-size: 24px;
    font-weight: 500 !important;
    color: $primary !important;
}

.videoBlock__playAction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;

    svg {
        fill: #fff !important;
    }
}

.most_read_list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.most_read_list {
    padding: 16px;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
}

.most_read_item {
    color: $primary !important;
    font-weight: 500;
}

.video_customer {
    .slick {
        &-slider {
            @include media-breakpoint-up(md) {
                margin: 0px -15px;
            }
        }

        &-slide {
            user-select: text;

            @include media-breakpoint-up(md) {
                padding: 0px 15px;
            }
        }

        &-track {
            margin-left: unset;
        }

        // style arrows
        &-arrow {
            border: 1px solid $primary;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            overflow: hidden;
            transition: all 0.5s;
            background-color: $white !important;
            z-index: 500;

            @include media-breakpoint-up(lg) {
                width: 36px;
                height: 36px;
            }

            &::before {
                content: '' !important;
                opacity: 1 !important;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 24px;
                height: 24px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            @include media-breakpoint-up(lg) {
                &:hover {
                    transition: all 0.5s;
                    background-color: $primary !important;
                }
            }

            &[aria-disabled="true"] {
                border: 1px solid $primary;

                &:hover {
                    background-color: unset !important;
                    cursor: auto;
                }
            }
        }

        &-prev {
            left: - 40px;

            @include media-breakpoint-down(md) {
                left: 16px;
            }

            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.57 5.93018L3.5 12.0002L9.57 18.0702' stroke='%231A3865' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20.4999 12H3.66992' stroke='%231A3865' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
        }

        &-next {
            right: - 40px;

            @include media-breakpoint-down(md) {
                right: 16px;
            }

            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.4302 18.0698L20.5002 11.9998L14.4302 5.92982' stroke='%231A3865' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.5 12L20.33 12' stroke='%231A3865' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
        }
    }
}

.view_all_news {
    padding: 16px 24px;
    background-color: $light;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin-top: 24px;
    color: $primary !important;
}

.headquarters_list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.headquarters_item_iframe {
    position: relative;
    width: 100%;
    height: 0px;
    padding-bottom: 70%;

    iframe,
    video {
        position: absolute;
        width: 100%;
        height: 100%;
        border: none;
    }
}

.headquarters_item_title {
    font-size: 28px !important;
    font-weight: 600 !important;
    margin-bottom: 16px;
    color: $primary !important;
}

.headquarters_item_content {
    @include media-breakpoint-up(lg) {
        max-height: 200px;
        overflow-y: auto;
    }
}

.pagination,
.woocommerce-pagination {
    justify-content: center;
    align-items: center;
    margin-top: 24px;

    .page-numbers {
        padding: 5px 12px;
        font-weight: 700;
        color: $primary !important;
        text-decoration: none;
        font-size: 14px;

        &.current {
            background: $primary;
            border-radius: 4px;
            color: $white !important;
        }

        &.next,
        &.prev {
            padding: 0;

            &:hover {
                background: transparent;
            }
        }
    }

    &__prev {
        content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3e%3cpath d='M15 17.5L10.4068 13.3838C9.86439 12.8977 9.86439 12.1023 10.4068 11.6161L15 7.49998' stroke='%23C0C0C0' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
        margin-right: 8px;
    }

    &__next {
        content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3e%3cpath d='M10 17.5L14.5932 13.3838C15.1356 12.8977 15.1356 12.1023 14.5932 11.6162L10 7.5' stroke='%23C0C0C0' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
        margin-left: 8px;
    }

    &__prev,
    &__next {
        display: block;
    }
}

.archive_cat_title {
    color: $primary !important;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 28px;

    @include media-breakpoint-up(lg) {
        margin-bottom: 40px;
    }
}

// -------------- Breadcrumbs ------------------
.breadcrumbs {
    position: relative;
    margin-bottom: 24px;

    a,
    .current {
        color: $body;
        font-size: 14px;
        font-weight: 400;

        &.current {
            color: $primary;
        }
    }

    a {
        text-decoration: none;

        @include media-breakpoint-up(lg) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .icon {
        padding: 0px 8px;
        margin: 0px 8px;
        position: relative;

        svg {
            position: absolute;
            top: 2px;
            left: 0%;

            path {
                stroke: $body;
            }
        }
    }
}

.video_customer_title {
    font-weight: 500;
    color: $body;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 0px;
}

// toc
.toc_block {
    background: #fff;
    padding: 16px;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    border-radius: 8px;

    @include media-breakpoint-down(md) {
        display: none !important;
    }
}

.toc_title {
    color: $body !important;
    font-size: 24px;
    font-weight: 700;
}

#sticky-navigator ul {
    padding: 0px;
}

#sticky-navigator a {
    color: $body !important;
    text-decoration: none !important;

    &:hover {
        color: $primary !important;
    }
}

#sticky-navigator ul li {
    list-style: none;
    padding: 4px 0px;
}

#sticky-navigator ul li.nav-h2 {
    padding: 4px 0px;
}

#sticky-navigator ul li.nav-h3 {
    margin-left: 16px;
}

.notarized_translation_news_item {
    color: $body;

    &:hover {
        color: $primary;
    }
}

.notarized_translation_news_list {
    margin-bottom: 0px;
}

.comment-reply-title {
    font-size: 24px !important;
    color: $primary !important;
    margin-bottom: 24px;
}

.comment-form {
    display: flex;
    flex-direction: column;

    label {
        display: block;
        font-size: 18px;
        font-weight: 600;
    }

    input:not(.submit),
    textarea {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        border: 1px solid $body;
        padding: 12px 16px;
        outline: none !important;
    }

    textarea {
        height: 100px;
    }

    .comment-form-email {
        order: 2;
    }

    .comment-form-author {
        order: 1;
    }

    .comment-form-comment {
        order: 3;
    }

    .form-submit {
        order: 4;
    }

    .submit {
        background-color: $primary;
        border: none;
        padding: 8px 16px;
        color: #fff;
        font-weight: 600;
    }
}

.share_post_mxh_item {
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba($primary, 0.1);
    margin: 0 2px;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;

    svg {
        width: 24px;
        height: 24px;
        fill: $primary;
    }
}

.share_post_title {
    font-weight: 700;
    margin-bottom: 16px;
}

.single_post_info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;

    @include media-breakpoint-down(md) {
        justify-content: flex-start;
    }
}

.single_post_info_item {
    display: flex;
    align-items: center;
    gap: 4px;

    svg {
        width: 14px;
        height: 14px;
        fill: $primary;
    }

    span {
        font-size: 14px;
    }
}

.single_post_info_line {
    width: 1px;
    height: 100%;
    background-color: $body;
}

.contact_form_7 {
    p {
        margin: 0px !important;
    }

    br {
        display: none !important;
    }

    input,
    textarea {
        width: 100%;
        height: 40px;
        padding: 4px 12px;
        border: 1px solid $body;
        outline: none !important;
        border-radius: 4px;
    }

    .wpcf7-form-control-wrap {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .wpcf7-submit {
        background-color: $primary;
        color: #fff;
        font-weight: 600;
        border: none !important;
        margin-top: 16px;
    }

    .wpcf7-response-output {
        margin: 0px !important;
    }
}

.accordion {
    &__item {
        margin-bottom: 16px;
    }

    &__body {
        padding: 16px;
        background-color: $white;
    }

    &__btn {
        position: relative;
        color: $primary;
        padding: 16px;
        border: none;
        transition: all 0.5s;
        text-decoration: none;
        width: 100%;
        outline: none !important;
        text-align: start;
        text-decoration: none !important;
        font-weight: 700 !important;

        // Close item accordion
        &::after {
            position: absolute;
            width: 24px;
            height: 24px;
            right: 16px;
            top: 50%;
            transform: translateY(-50%) rotate(0deg);
            transition: all 0.3s;
            content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5081 15.5942L15.4781 13.6242L18.6881 10.4142C19.3581 9.73422 18.8781 8.57422 17.9181 8.57422H11.6881H6.07812C5.11812 8.57422 4.63812 9.73422 5.31812 10.4142L10.4981 15.5942C11.3181 16.4242 12.6781 16.4242 13.5081 15.5942Z' fill='%232E2E2E'/%3E%3C/svg%3E%0A");
        }

        // Open item accordion
        &[aria-expanded="true"]::after {
            transform: translateY(-50%) rotate(180deg);
        }
    }
}

.post_sidebar_right {
    // position: sticky;
    // top: 100px;
}

.post_search_faqs {
    width: 100%;
    height: 40px;
    padding: 4px 12px;
    border: 1px solid $body;
    outline: none !important;
    border-radius: 4px;
}

.page_contact_title {
    font-size: 24px;
    text-transform: uppercase;
    color: $primary;
    text-align: center;
    margin-bottom: 16px;
    font-weight: 700;
}

.page_contact_subtitle {
    font-size: 18px;
    text-transform: uppercase;
    color: $primary;
    margin-bottom: 8px;
    font-weight: 700;
}

.page_contact_info {
    margin-bottom: 24px;
    margin-top: 24px;
}

.page_contact_sidebar_head {
    padding: 8px 12px;
    background-color: #e6e6e6;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 3px solid $primary;
    margin-bottom: 16px;
}

.page_contact_see_more {
    color: $primary;
    font-weight: 600;
    text-decoration: underline !important;
}

.contact_label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 700;
}

.contact_input {
    width: 100%;
    height: 40px;
    padding: 4px 12px;
    border: 1px solid $body;
    outline: none !important;
    border-radius: 4px;

    &+.error {
        color: $danger;
    }
}

.page_contact_service_table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        border: solid 1px #ddd;
        padding: 5px !important;
        vertical-align: middle;
    }
}

.td_checkbox {
    text-align: center;
}

.contact_submit {
    background-color: $primary;
    border: none !important;
    outline: none !important;
    color: #fff;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 4px;
}

#upload_file_input {
    width: 100%;
}

#ajax-loader {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.radio_group_label {
    font-weight: 700;
}

.radio_group_note {
    font-size: 12px;
}

.page_ctv_form {
    border: 1px solid $primary;
    padding: 24px;
    position: relative;
    margin-top: 60px;

    @include media-breakpoint-down(md) {
        padding: 16px;
    }
}

.page_ctv_form_header {
    display: flex;
    justify-content: center;

    @include media-breakpoint-up(lg) {
        transform: translateY(-50%);
        margin-top: -24px;
        padding: 0px 40px;
    }
}

.page_ctv_form_title {
    background: $primary;
    color: #fff;
    font-size: 16px;
    padding: 10px 12px;
    text-align: center;

    @include media-breakpoint-down(md) {
        margin-bottom: 16px;
    }
}

.page_ctv_form_label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 700;
}

.page_ctv_form_input {
    width: 100%;
    height: 40px;
    padding: 4px 12px;
    border: 1px solid $body;
    outline: none !important;
    border-radius: 4px;

    &+.error {
        color: $danger;
    }
}

.page_ctv_form_textarea {
    width: 100%;
    height: 120px;
    padding: 4px 12px;
    border: 1px solid $body;
    outline: none !important;
    border-radius: 4px;

    &+.error {
        color: $danger;
    }
}

.page_ctv_form_note {
    color: #888;
    display: block;
    margin-bottom: 8px;
    font-size: 12px;
}

.page_ctv_form_group_radio {
    display: flex;
    gap: 16px;
}

.custom_dropdown {
    position: relative;
    display: block;
}

.custom_dropdown_button {
    padding: 4px 12px;
    background-color: #fff;
    border: 1px solid $body;
    cursor: pointer;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    outline: none !important;
    display: flex;
    align-items: center;
}

.custom_dropdown_menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
}

.custom_dropdown_menu label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
    display: flex;
    gap: 8px;
    margin-bottom: 4px;
    font-size: 14px;
}

.custom_dropdown_menu label:last-child {
    margin-bottom: 0;
}

.page_ctv_form_group_item {
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0px;
    }
}

.page_ctv_form_upload_file {
    width: 100%;

    &+.error {
        color: $danger;
    }
}

.page_ctv_form_group {
    position: relative;

    .error {
        color: $danger;
    }
}

.page_ctv_form_hidden {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    visibility: hidden;
}

.custom_dropdown_menu {
    .root {
        font-weight: 700;
        margin-bottom: 8px;
    }
}

.sectionBanner__item {
    position: relative;
}

.reaction_buttons {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 30px;
}

.reaction_button_item {
    background-color: #1877F2;
    color: #fff !important;
    text-decoration: none !important;
    border: none !important;
    outline: none !important;
    display: flex;
    align-items: center;
    padding: 2px 8px;
    border-radius: 2px;
    font-size: 14px;
    min-height: 25px;

    // #B0B3B8
    &.dislike_button {
        background-color: #B0B3B8;
    }
}

.reaction_buttons_icon {
    display: flex;
    margin-right: 8px;

    svg {
        width: 16px;
        height: 16px;
        fill: #fff;
    }
}

.form_advisory_title {
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    margin-bottom: 24px;

    @include media-breakpoint-up(lg) {
        font-size: 32px;
        margin-bottom: 40px;
    }
}

.form_advisory_label {
    display: block;
    margin-bottom: 4px;
    color: #fff;
    font-weight: 500;
}

.form_advisory_group {
    margin-bottom: 24px;
}

.form_advisory {
    br {
        display: none !important;
    }

    p {
        margin: 0px !important;
    }

    input[type="text"],
    input[type="tel"] {
        height: 40px;
        border-radius: 4px;
        background-color: #fff;
        padding: 8px 16px;
        outline: none !important;
        width: 100%;
        border: none !important;
    }

    input[type="submit"] {
        background-color: #EB1924;
        outline: none !important;
        border: none !important;
        color: #fff;
        min-width: 240px;
        max-width: 250px;
        padding: 8px 24px;
        border-radius: 100px;

        @include media-breakpoint-down(sm) {
            min-width: unset;
            width: 100%;
        }
    }

    .wpcf7-not-valid-tip {
        color: #EB1924;
    }

    .wpcf7-response-output {
        color: #fff;
    }
}

.image_advisory {
    position: absolute;
    width: auto;
    height: calc(100% + 80px);
    left: 0px;
    bottom: -50px;

    @include media-breakpoint-down(md) {
        height: calc(100% + 30px);
        bottom: -30px;
    }
}

.image_advisory_wrap {
    position: relative;
    height: 100%;
    min-height: 250px;
    max-height: 100%;
}

.price_table_list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.price_table_img {
    width: 100%;
    height: auto;
}

.price_table_title {
    margin-bottom: 16px !important;
}

.endow_content.editor {
    * {
        color: #fff !important;
    }

    h2 {
        font-size: 24px;
        padding: 4px 24px;
        display: inline-flex;
        border-radius: 24px;
        color: $primary !important;
        background-color: #fff;
    }
}

.achieve_brand_img {
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
    margin: 0px auto;

    @include media-breakpoint-down(md) {
        width: 100%;
    }
}

.choice_reason_item {
    background-color: #fff;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
    padding: 24px 24px 80px 24px;
    border-radius: 16px;
    height: 100%;
}

.choice_reason_item_number {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    span {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid $primary;
        display: inline-flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        background: #7FBA44;
        font-size: 32px;
        font-weight: 700;
    }
}

.choice_reason_item_title {
    text-align: center;
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 600;
    color: #0F271B;
    margin-bottom: 24px;
}

.choice_reason_item_img {
    width: 40px;
    height: auto;
    margin: 0px auto;
    text-align: center;
    display: block;
    margin-bottom: 16px;
}

.choice_reason_item_desc {
    text-align: center;
    font-size: 18px;
    color: #6C737F;
}

.banner_landing_content .editor {
    * {
        color: #fff !important;
        font-size: 24px;
        font-weight: 600;

        @include media-breakpoint-down(md) {
            font-size: 18px;
        }
    }
}

.banner_landing_img_wrap {
    position: relative;
    height: 100%;
    min-height: 250px;
    max-height: 100%;

    @include media-breakpoint-up(md) {
        min-height: 350px;
    }

    @include media-breakpoint-up(lg) {
        min-height: 500px;
    }
}

.banner_landing_img {
    position: absolute;
    width: auto;
    height: calc(100% + 80px);
    right: 0px;
    bottom: -50px;

    @include media-breakpoint-down(md) {
        bottom: -30px;
        height: calc(100% + 30px);
    }

    @include media-breakpoint-down(sm) {
        right: unset;
        left: 50%;
        transform: translateX(-50%);
    }
}

.banner_landing_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    // padding-right: 60px;

    // @include media-breakpoint-down(md) {
    //     padding-right: 30px;
    // }

    // @include media-breakpoint-down(sm) {
    //     padding-right: 0px;
    // }
}

.page_form {
    min-height: 100vh;
}

.page_form_wrap {
    border-radius: 4px;
    overflow: hidden;
}

.page_form_title {
    background-color: #C7D3E0;
    padding: 16px;
    font-weight: 700;
    font-size: 18px;
}

.page_form_form {
    background-color: #EBF0F4;
    padding: 16px;
}

.page_form_note {
    margin-bottom: 30px;
}

.page_form_req {
    color: $danger;
    font-weight: 600;
}

.page_form_group,
.page_form_rating {
    margin-bottom: 24px;
}

.page_form_label {
    font-weight: 600;
    margin-bottom: 4px;
}

.page_form_input,
.page_form_area {
    width: 100%;
    height: 40px;
    padding: 4px 12px;
    border: 1px solid $body;
    outline: none !important;
    border-radius: 4px;

    &+.error {
        color: $danger;
    }
}

.page_form_no_req {
    font-style: italic;
}

.page_form_area {
    height: 80px;
}

// ngôi sao
.page_form_rating {
    .rating {
        direction: rtl;
        display: flex;
        justify-content: space-between;
    }

    .rating .star {
        font-size: 40px;
        cursor: pointer;
        color: #ccc;
    }

    .rating .star.selected,
    .rating .star:hover,
    .rating .star:hover~.star,
    .rating .star.active {
        color: #f5b301;
    }

    .question_group {
        margin-bottom: 20px;
    }

    .question {
        margin-bottom: 15px;
        position: relative;
    }

    label {
        display: block;
        margin-bottom: 4px;
    }

    .error {
        color: $danger;
    }

    .rating_value {
        width: 1px;
        height: 1px;
        border: none !important;
        outline: none !important;
        position: absolute;
        left: 0px;
        top: 0px;
        opacity: 0;
    }
}

.page_form_submit {
    width: 100%;
}

.footer_bg {
    background: #F7F7F7;
}

.footer_title {
    color: $primary;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer_row {}

.footer_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_item_link {
    display: flex;
    gap: 5px;
    color: $body !important;

    .icon {
        flex-shrink: 1;
    }

    svg {
        width: 14px;
        height: 14px;
    }
}

.footer_form {

    br {
        display: none !important;
    }

    p {
        margin: 0px !important;
        margin-bottom: 10px !important;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"] {
        height: 40px;
        width: 100%;
        border: 1px solid #CCCCCC !important;
        border-radius: 4px;
        outline: none !important;
        padding: 8px 12px;
        color: $body !important;
    }

    input[type="submit"] {
        height: 40px;
        width: 100%;
        background-color: $primary;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 4px;
        outline: none !important;
        border: none !important;
        text-transform: uppercase;
    }
}

.footer_mxh_item {
    display: inline-flex;
    margin-right: 4px;

    svg {
        width: 35px;
        height: 35px;
    }
}

.footer_row {
    @include media-breakpoint-up(lg) {
        margin-left: -24px;
        margin-right: -24px;

        &>* {
            padding-left: 24px;
            padding-right: 24px;
        }
    }
}

.comment-form-email {
    display: none;
}

.comment-form-phone_field {
    order: 2;
}

.single_post_info_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    @include media-breakpoint-down(md) {
        flex-direction: column;
    }

    &>* {
        flex: 1 1 auto;
        width: 50%;

        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    .author,
    .people {
        font-weight: 600;
        color: $primary;
    }

    .post_author {
        margin-bottom: 4px;
    }
}

.td_req {
    color: #dc3545;
}

.td_group {
    .error {
        color: #dc3545;
        display: block;
    }
}

.td_input {
    height: 40px;
    width: 300px;
    border: 1px solid $body !important;
    border-radius: 4px;
    padding: 8px 12px;
    color: $body;
    outline: none !important;
}

.cat_banner_img {
    max-height: 100vh;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.loop_post_item {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.16);
    background-color: #fff;

    @include media-breakpoint-down(sm) {
        flex-direction: column;
    }


    .image_link {
        display: flex;
        flex: 0 0 auto;

        img {
            width: 260px;
            height: 198px;
            object-fit: cover;
            border-radius: 10px;

            @include media-breakpoint-down(sm) {
                width: 100%;
                height: auto;
            }
        }
    }

    .content {
        .title_link {
            display: flex;
            margin-bottom: 16px;

            .title {
                font-size: 24px;
                font-weight: 600;
                color: $body !important;
                margin: 0px;
            }
        }

        .desc {
            margin-bottom: 40px;
        }

        .date {
            display: flex;
            align-items: center;
            gap: 12px;

            .text {
                color: $primary;
                font-weight: 700;
            }

            .icon {
                display: inline-flex;
                flex: 0 0 auto;
            }

            svg {
                width: 16px;
                height: 16px;
                fill: $primary;
            }
        }
    }
}

.loop_post_list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 40px;
}

.menu_dich_vu {


    .sub_menu_dich_vu {
        position: fixed !important;
        left: 50% !important;
        top: 65px !important;
        transform: translateX(-50%) !important;
        width: 900px !important;

        .title {
            font-size: 24px;
            color: $primary;
            font-weight: 700;
            margin-bottom: 16px;
        }

        .desc {
            margin-bottom: 16px;
            font-size: 14px;
        }

        .list_dich_vu {
            margin-left: -4px;
            margin-right: -4px;
            row-gap: 8px;

            &>* {
                padding-left: 4px;
                padding-right: 4px;
            }

            .dich_vu_item {
                background-color: #F7F7F7;
                height: 100%;
                border-radius: 10px;
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 4px;
                justify-content: space-between;

                .item_title {
                    font-size: 18px;
                    font-weight: 700;
                    color: $body;
                }

                .item_desc {
                    font-size: 14px;
                    font-style: italic;
                    color: $body;
                }
            }
        }
    }

    .dich_vu_item_link_mb {
        display: flex !important;
        flex-direction: column !important;
        gap: 4px !important;

        .title {
            color: $primary !important;
            font-size: 16px;
            font-style: unset !important;
        }

        .desc {
            font-size: 14px !important;
            font-style: italic !important;
            color: $body !important;
        }
    }
}

.single_toc_mb {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 16px;

    @include media-breakpoint-up(lg) {
        display: none !important;
    }

    .single_toc_btn {
        background: rgba(243, 243, 243, 0.95);
        padding: 8px 16px;
        font-size: 18px;
        font-weight: 700;
        padding-left: 40px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 16px;
            width: 16px;
            height: 16px;
            top: 50%;
            transform: translateY(-50%);
            background-position: center center;
            background-size: cover;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M40 48C26.7 48 16 58.7 16 72l0 48c0 13.3 10.7 24 24 24l48 0c13.3 0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24L40 48zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L192 64zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-288 0zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-288 0zM16 232l0 48c0 13.3 10.7 24 24 24l48 0c13.3 0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24l-48 0c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24l0 48c0 13.3 10.7 24 24 24l48 0c13.3 0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24l-48 0z'/%3E%3C/svg%3E");
        }

        &::before {
            content: "";
            position: absolute;
            left: 16px;
            width: 16px;
            height: 16px;
            top: 50%;
            transform: translateY(-50%);
            background-position: center center;
            background-size: cover;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M40 48C26.7 48 16 58.7 16 72l0 48c0 13.3 10.7 24 24 24l48 0c13.3 0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24L40 48zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L192 64zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-288 0zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32l288 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-288 0zM16 232l0 48c0 13.3 10.7 24 24 24l48 0c13.3 0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24l-48 0c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24l0 48c0 13.3 10.7 24 24 24l48 0c13.3 0 24-10.7 24-24l0-48c0-13.3-10.7-24-24-24l-48 0z'/%3E%3C/svg%3E");
        }

        .icon {
            position: absolute;
            right: 16px;
            top: 12px;
            display: flex;
            transform: rotate(-90deg);

            svg {
                width: 20px;
                height: 20px;
            }
        }

        &.active {
            .icon {
                transform: rotate(0deg);
            }
        }
    }

    .single_toc_content {
        padding: 16px;
        background: rgba(243, 243, 243, 0.95);
        display: none;

        ul {
            margin: 0px;
            padding: 0px;
            list-style-type: none;

            li {
                margin-bottom: 8px;
            }

            a {
                color: $body !important;
            }

            li.nav-h3 {
                padding-left: 16px;
            }
        }
    }
}

.single_toc_mb.scroll_active {
    .single_toc_btn {

        .text,
        .icon {
            display: none;
        }

        padding: 0px;

        height: 50px;
        width: 50px;
        position: fixed;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        z-index: 10;

        &::after {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .single_toc_content {
        position: fixed;
        width: calc(100% - 30px);
        height: calc(100vh - 90px);
        bottom: 10px;
        right: 20px;
        z-index: 9;
    }
}


.chia_se_mxh {
    padding: 24px 16px;
    border-top: 1px solid #c0c0c0;

    .title {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 24px;
    }

    .list_link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-bottom: 24px;

        &>a {
            display: flex;
            flex: 0 0 auto;
            height: 32px;
            width: 32px;
            background-color: $primary;
            align-items: center;
            justify-content: center;
            border-radius: 4px;

            svg {
                width: 20px;
                height: 20px;
                fill: #fff;
            }
        }
    }

    .social_share_post {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        &>a {
            display: flex;
            flex: 0 0 auto;
            height: 32px;
            width: 32px;
            background-color: $primary;
            align-items: center;
            justify-content: center;
            border-radius: 4px;

            svg {
                width: 20px;
                height: 20px;
                fill: #fff;
            }
        }
    }
}

.td_checkbox_desc {
    font-style: italic;
    font-size: 14px;
}

.modal_lien_he {
    .modal-dialog {
        @include media-breakpoint-up(lg) {
            max-width: 700px !important;
        }
    }

    .modal-content {
        position: relative;
        border-radius: 0px;
    }

    .close {
        width: 20px;
        height: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: $body;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;
        border-radius: 50%;
        opacity: 1 !important;
        outline: none !important;
    }

    .modal-body {
        padding: 0px;
    }

    .modal_title {
        background-color: $primary;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 500;
        padding: 16px 24px;
    }

    .editor {
        padding: 24px 16px;
    }
}

.sidebar_lien_he {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ddd;
    position: sticky;
    top: 100px;
    left: 0px;

    .page_contact_title {
        background-color: #FC0D1C;
        font-size: 18px;
        color: #fff;
        font-weight: 600;
        padding: 16px;
    }

    .page_contact_subtitle {
        text-align: center;
        padding: 0px 16px;
        font-size: 16px;
    }

    .contact_submit {
        margin-bottom: 16px;
    }

    .td_input {
        width: 100%;
    }

    .page_contact_info {
        padding: 0px 16px;
    }
}

.choice_reason_item_content.editor {
    * {
        color: #6C737F;
    }
}

.single_post_mxh {
    position: fixed;
    left: 0px;
    bottom: 16px;
    width: 100%;
    z-index: 99;
}

.mxh_fb {
    background-color: #1877F2 !important;
}

.mxh_tw {
    background-color: #000000 !important;
}

.mxh_yt {
    background-color: #FF0000 !important;
}

.mxh_tiktok {
    background-color: #000000 !important;
}

.modal_landing {
    .modal-dialog {
        @include media-breakpoint-up(lg) {
            max-width: 700px !important;
        }
    }

    .modal-content {
        position: relative;
        border-radius: 0px;
    }

    .close {
        width: 20px;
        height: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: $body;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;
        border-radius: 50%;
        opacity: 1 !important;
        outline: none !important;
    }

    .modal-body {
        padding: 0px;
    }

    .modal_title {
        background-color: $primary;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 500;
        padding: 16px 24px;
    }

    .editor {
        padding: 24px 16px;
    }

    .page_contact_form {
        padding: 16px;

        @include media-breakpoint-up(lg) {
            padding: 32px 50px;
        }
    }

    .page_contact_title {
        font-size: 28px;
        font-weight: 600 !important;

        @include media-breakpoint-up(lg) {
            font-size: 40px;
        }
    }

    .modal_landing_img {
        width: 100%;
        height: auto;
        max-height: 200px;
        object-fit: cover;
    }
}