#wooTheme,
#wooSingleProduct {
    .button {
        background-color: $primary !important;
        color: $white !important;
        padding: 8px 12px !important;
        outline: none !important;
        border-radius: 0px !important;
    }
}