#wooTheme {
    .woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
        padding-left: 0px;
    }

    .woocommerce-notice.woocommerce-thankyou-order-received {
        text-align: center;
        margin-bottom: 40px;
        font-size: 24px;
        font-weight: 700;
    }
}